.navbar {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}
.username input {
    width: 30%;
}
.username {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.mb-3 {
width: 38%;
}